body
{
	background:#678bff url('header.png') repeat-x;
	margin:0px;
	padding:0px;
}
.site
{
	background:url('background.jpg') no-repeat top center;
}
.site2
{
	width:850px;
	margin:auto;
	color:#003C6E;
}
img
{
	border:0px;
}
a
{
	color:#222222;
	text-decoration:none;
}
a:hover
{
	color:#000000;
}
.header
{
	font-size:60px;
	font-family:Arial, Helvetica, sans-serif;
	height:140px;
	color:#003C6E;
	padding-top:50px;
	margin-bottom:10px;
}
.foot
{
	margin:auto;
	text-align:center;
	height:40px;
	padding-top:10px;
	color:#003C6E;
}
.foot a,.foot
{
	color:#000000;
}
.foot:hover a,.foot:hover
{
	color:#555555;
}
.foot a:hover
{
	color:#ffffff;
}
.menu_v
{
	margin-bottom:10px;
	margin-left:650px;
	margin-top:44px;
}
.menu_v_titre
{
	color:#ffffff;
	font-weight:bold;
	display:block;
	margin-left:-5px;
	font-size:18px;
}
.menu_v_ctn
{
	padding-left:10px;
	color:#ffffff;
	margin-left:30px;
}
.menu_v_ctn a
{
	color:#cccccc;
}
.menu_v_ctn a:hover
{
	color:#ffffff;
}
.corp
{
	width:650px;
	margin-bottom:10px;
	float:left;
	margin-left:20px;
	margin-top:14px;
	color:#ffffff;
}
.corp_ctn
{
	padding-left:5px;
	padding-right:5px;
}
.clean
{
	clear:both;
	/*color:#003C6E;*/
	color:#ED1C24;
}
h1,h2,h3,h4,h5,h6,p
{
	margin:0px;
}
h1,h2,h3
{
	color:#ffffff;
	border-bottom:2px solid #8dc5ec;
	margin-left:10px;
	padding-top:5px;
}
h4,h5,h6
{
	color:#ffffff;
	margin-left:10px;
	padding-top:5px;
}
.paragraphe,p
{
	padding-left:10px;
	padding-bottom:5px;
	padding-top:5px;
}
ul
{
	list-style-image:url('puce01.gif');
}
ul,ol
{
	margin:0px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
}
.moteur_recherche
{
	float:right;
	width:500px;
	height:160px;
	color:#003C6E;
	margin-right:5px;
	padding-top:10px;
	/*background:url('moteur_recherche.png') no-repeat;*/
	padding-left:15px;
}

.ligne_box {
border: 2px solid #666666;
background-color:#F6F6F6;
color:#000000;
font-size: 11px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

.search_box {
border: 2px solid #666666;
background-color:#F6F6F6;
color:#000000;
font-size: 14px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

.padding2 {
	padding : 0 0 0 2px;
}

.text11px {
	font-size: 11px;
	color:#0c0c0c;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.text11pxwhite {
	font-size: 11px;
	color:#ffffff;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}